@page "/signup"
@using System.Net.Http.Json
@using BrainBurst.Shared.DTO_s
@inject HttpClient httpClient

<div class="h-screen w-screen flex justify-center items-center logimg">
    <form class="w-full max-w-xs flex flex-col form-input" action="">
        <div class="text-center">
            <h1 class="text-[30px] mb-12 text-white font-[500]">Sign up for BrainBurst</h1>
        </div>

        <div class="flex border-b-2 mb-12">
            <i class='bx bx-user-circle text-[22px] mr-3 mb-[5px] text-white'></i>
            <input @bind="@registrationUser.FullName" class="text-white font-[400] focus:outline-none bg-transparent placeholder-[white] text-[15px] ml-2 mb-2"
                   type="name" placeholder="Full name">
        </div>

        <div class="flex border-b-2 mb-12">
            <i class='bx bx-user-circle text-[22px] mr-3 mb-[5px] text-white'></i>
            <input @bind="@registrationUser.UserName" class="text-white font-[400] focus:outline-none bg-transparent placeholder-[white] text-[15px] ml-2 mb-2"
                   type="name" placeholder="User name">
        </div>


        <div class="flex border-b-2 mb-6">
            <i class='bx bx-envelope text-[20px] mr-4 mb-[5px]' style='color:#fffefe'></i>
            <input @bind="@registrationUser.Email" class="text-white font-[400] focus:outline-none bg-transparent placeholder-[white] text-[15px] ml-2 mb-2"
                   type="email" placeholder="Email">
        </div>

        <div class="flex border-b-2 mt-6">
            <i class='bx bxs-lock text-[20px] mr-4 mb-[6px]' style='color:#fffefe'></i>
            <input @bind="@registrationUser.Password" class="text-white font-[400] focus:outline-none bg-transparent placeholder-[white] text-[15px] ml-2 mb-2"
                   type="password" placeholder="Password">

            @*@if (showPassword)
            {
            <i class="fa-regular fa-eye mt-[12px] text-white text-[18px]" @onclick="TogglePasswordVisibility"></i>
            }
            else
            {
            <i class="fa-regular fa-eye-slash mt-[12px] text-white text-[18px]" @onclick="TogglePasswordVisibility"></i>
            }*@
        </div>

        <div class="flex border-b-2 mt-11">
            <i class='bx bxs-lock text-[20px] mr-4 mb-[6px]' style='color:#fffefe'></i>
            <input @bind="@registrationUser.ConfirmPassword" class="text-white font-[400] focus:outline-none bg-transparent placeholder-[white] text-[15px] ml-2 mb-2"
                   type="password" placeholder="Confirm password">
        </div>

        <button @onclick="HandleSignUp" class="mt-12 flex justify-center rounded-lg w-full py-3 bg-[#172d42]">
            <i class='bx bx-user-plus text-[23px] mr-2' style='color:#f7f7f7'></i>
            <span class="text-white font-bold">
                Sign Up
            </span>
        </button>

        <span class="text-center my-4 text-white font-bold">Or</span>

        <button type="button"
                class="w-full block bg-white hover:bg-gray-100 focus:bg-gray-100 text-gray-900 font-semibold rounded-lg py-3 border border-gray-300">
            <div class="flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="w-6 h-6"
                     viewBox="0 0 48 48">
                    <defs>
                        <path id="a"
                              d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z" />
                    </defs>
                    <clipPath id="b">
                        <use xlink:href="#a" overflow="visible" />
                    </clipPath>
                    <path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z" />
                    <path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z" />
                    <path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z" />
                    <path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z" />
                </svg>
                <span class="ml-4">
                    Sign Up
                    with
                    Google
                </span>
            </div>
        </button>

        <div class="flex justify-between mt-8">
            <p class="text-white font-[400]">You got an account?</p>
            <a href="/login" class="font-[400] text-white">Log In</a>
        </div>


    </form>
</div>

@code {

    private RegistrationUserDTO registrationUser = new RegistrationUserDTO();

    private async Task HandleSignUp()
    {
        var response = await httpClient.PostAsJsonAsync("api/User/CreateUser", registrationUser);

        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            Console.WriteLine("Can't be updated");
        }
    }

}