@page "/signup"
@using System.Net.Http.Json
@using BrainBurst.Shared.DTO_s
@inject HttpClient httpClient

<div class="h-screen w-screen flex justify-center items-center logimg">
    <label for="fullName">Full Name:</label>
    <input type="text" @bind="@registrationUser.FullName" id="fullName" name="fullName" required>


    <label for="username">User Name:</label>
    <input type="text" @bind="@registrationUser.UserName" id="username" name="username" required>


    <label for="email">Email:</label>
    <input type="email" @bind="@registrationUser.Email" id="email" name="email" required>



    <label for="password">Password:</label>
    <input type="password" @bind="@registrationUser.Password" id="password" name="password" required>

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" @bind="@registrationUser.ConfirmPassword" id="confirmPassword" name="confirmPassword" required>

    <input type="submit" @onclick="HandleSignUp" value="Sign Up">
</div>

@code {

    private RegistrationUserDTO registrationUser = new RegistrationUserDTO();

    private async Task HandleSignUp()
    {
        var response = await httpClient.PostAsJsonAsync("api/User/CreateUser", registrationUser);

        if (response.IsSuccessStatusCode)
        {
           // NavigationManager.NavigateTo("/login");
            Console.WriteLine("be updated");
        }
        else
        {
            Console.WriteLine("Can't be updated");
        }
    }

}